h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(250, 243, 243);
    text-align: center;
    background-image: url(img3.jpg);
    background-color: #ccadad;
}
h2{
    text-align:justify;
}
body{
    background-color: orange;
   
    }

p{
    font-size: 14px;
}
button{
    padding: 10px;
    border:solid 2px color black;
    margin: 25px;
}
ul {
    text-align: right;
    background-position: right;
     
 }
  .menuFixo {  
    overflow: hidden;
    position: fixed;
    top: 0%;
    float: right;
  }

  .navbar, .navbar-default {
    border: none;
}

nav a:hover {
    color: aqua;
}

.navbar-nav {
    color: aqua;
}